<div ng-controller="TeaSolutions.PriceOverviewController">
  <div class="countries">
    <table>
      <thead>
        <tr>
          <th>Land</th>
          <th>Antal</th>
          <th>Første måned uden priser</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="countryInfo in priceForCountryList">
          <td ng-class="{'pointer': countryInfo.Count > 0}" ng-click="countryInfo.Count > 0 && getForCountry(countryInfo.CountryId)">{{countryInfo.Name}}</td>
          <td class="center green" ng-class="{'red': countryInfo.Count > 0}">{{countryInfo.Count}}</td>
          <td ng-show="countryInfo.FirstMonth">{{countryInfo.FirstMonth}} (<a href="{{countryInfo.Url}}">{{countryInfo.FirstId}}</a>)</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="back" ng-click="back()">Tilbage til landeoversigt</div>
  <div class="destinations">
    <div class="destination" ng-repeat="destination in destinations">
      <a class="bold" href="/umbraco/#/content/content/edit/{{destination.DestinationId}}">{{destination.Title}} ({{destination.DestinationId}})</a>
      <table>
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="month in destination.Months">{{month}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(airport, months) in destination.Rows">
            <td>{{airport}}</td>
            <td ng-repeat="month in months track by $index" ng-class="{'red': !month, 'green': month}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>