<div ng-controller="Dff.Overlays.LinkPickerController">
    <form name="linkPickerOverlay" novalidate>
        <umb-editor-view>
    
            <umb-editor-header
                    name="model.title"
                    name-locked="true"
                    hide-alias="true"
                    hide-icon="true"
                    hide-description="true">
            </umb-editor-header>
    
            <umb-editor-container>
                <umb-box>
                    <umb-box-content>
                        <umb-control-group label="@content_urls">
                            <input type="text"
                                   localize="placeholder"
                                   placeholder="@general_url"
                                   class="umb-property-editor umb-textstring"
                                   ng-model="model.target.url"
                                   ng-disabled="model.target.id"
                                   focus-when="{{true}} " />
                        </umb-control-group>
                        <umb-control-group label="@content_nodeName">
                            <input type="text"
                                   localize="placeholder"
                                   placeholder="@placeholders_entername"
                                   class="umb-property-editor umb-textstring"
                                   ng-model="model.target.name" />
                        </umb-control-group>
                    
                        <umb-control-group label="Beskrivelse">
                            <textarea
                                   placeholder="Indtast evt. beskrivelse..."
                                   class="umb-property-editor umb-textstring"
                                   ng-model="model.target.description">
                            </textarea>
                        </umb-control-group>
                    
                        <umb-control-group label="Ikon">
                            <select ng-model="model.target.userIcon" class="umb-property-editor" style="font-family: 'FontAwesome', 'Helvetica';">
                                <option ng-selected="item.value==model.target.userIcon" ng-repeat="item in icons" ng-bind-html="item.label" value="{{item.value}}" style="width:20px;">{{item.label}}</option>
                            </select>
                        </umb-control-group>
                    
                    
                        <umb-control-group label="@content_target">
                            <label class="checkbox no-indent">
                                <input type="checkbox" ng-model="model.target.target" ng-true-value="'_blank'" ng-false-value="" /> <localize key="defaultdialogs_openInNewWindow">Opens the linked document in a new window or tab</localize>
                            </label>
                        </umb-control-group>
                    
                        <umb-media-picker3-property-editor model="model.mediaPickerModel" node="model.target.image"></umb-media-picker3-property-editor>
                    
                        <div class="umb-control-group">
                            <h5>
                                <localize key="defaultdialogs_linkToPage">Link to page</localize>
                            </h5>
                            <div ng-hide="miniListView">
                                <umb-tree-search-box hide-search-callback="hideSearch"
                                                     search-callback="onSearchResults"
                                                     search-from-id="{{searchInfo.searchFromId}}"
                                                     search-from-name="{{searchInfo.searchFromName}}"
                                                     show-search="{{searchInfo.showSearch}}"
                                                     section="{{section}}">
                                </umb-tree-search-box>
                                <br />
                                <umb-tree-search-results ng-if="searchInfo.showSearch"
                                                         results="searchInfo.results"
                                                         select-result-callback="selectResult">
                                </umb-tree-search-results>
                                <div ng-hide="searchInfo.showSearch">
                                    <umb-tree section="content"
                                              hideheader="true"
                                              hideoptions="true"
                                              enablelistviewexpand="true"
                                              isdialog="true"
                                              on-init="treeInit()"
                                              customtreeparams="{{model.target.path}}"
                                              enablecheckboxes="true"
                                              treealias="content"
                                              id="treePicker"
                                              api="dialogTreeApi">
                                    </umb-tree>
                                </div>
                            </div>
                            <umb-mini-list-view ng-if="miniListView"
                                                node="miniListView"
                                                entity-type="Document"
                                                on-select="selectListViewNode(node)"
                                                on-close="closeMiniListView()">
                            </umb-mini-list-view>
                        </div>
                        <div class="umb-control-group">
                            <h5>
                                <localize key="defaultdialogs_linkToMedia">Link to media</localize>
                            </h5>
                            <a href ng-click="switchToMediaPicker()" class="btn">
                                <localize key="defaultdialogs_selectMedia">Select media</localize>
                            </a>
                        </div>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button
                            type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="model.close()">
                    </umb-button>
                    <umb-button
                            type="button"
                            button-style="action"
                            label-key="general_submit"
                            action="model.submit(model)">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
