<div ng-controller="DFFEDB.LoginSettings">
    <fieldset>
        <label for="loginSettingVaelg">Vælg indhold til punkt 1....:</label>
        <select id="loginSettingVaelg" ng-model="model.value.punkt1">
            <option value=""> </option>
            <option value="<i class=' fa fa-file-text-o signin-icon'></i> Se dine dokumenter">Se dine dokumenter</option>
            <option value="<i class=' fa fa-eye signin-icon'></i> Hold øje med forbrug">Hold øje med forbrug</option>
            <option value="<i class=' fa fa-envelope signin-icon'></i> Kontakt til os">Kontakt til os</option>
            <option value="<i class=' fa fa-suitcase signin-icon'></i> Hvis du skal flytte">Hvis du skal flytte</option>
            <option value="<i class=' flaticon-login flaticon-scale19'></i> Sammenlign forbrug">Sammenlign forbrug</option>
            <option value="<i class=' flaticon-login flaticon-losing'></i> Indtast aflæsninger">Indtast aflæsninger</option>
            <option value="<i class=' flaticon-login flaticon-small53'></i> Beregnet varmeregnskab">Beregnet varmeregnskab</option>
        </select>
    </fieldset>
    <hr />
    <br />
    <fieldset>
        <label for="loginSettingVaelg2">Vælg indhold til punkt 2....:</label>
        <select id="loginSettingVaelg2" ng-model="model.value.punkt2">
            <option value=""> </option>
            <option value="<i class=' fa fa-file-text-o signin-icon'></i> Se dine dokumenter">Se dine dokumenter</option>
            <option value="<i class=' fa fa-eye signin-icon'></i> Hold øje med forbrug">Hold øje med forbrug</option>
            <option value="<i class=' fa fa-envelope signin-icon'></i> Kontakt til os">Kontakt til os</option>
            <option value="<i class=' fa fa-suitcase signin-icon'></i> Hvis du skal flytte">Hvis du skal flytte</option>
            <option value="<i class=' flaticon-login flaticon-scale19'></i> Sammenlign forbrug">Sammenlign forbrug</option>
            <option value="<i class=' flaticon-login flaticon-losing'></i> Indtast aflæsninger">Indtast aflæsninger</option>
            <option value="<i class=' flaticon-login flaticon-small53'></i> Beregnet varmeregnskab">Beregnet varmeregnskab</option>
        </select>
    </fieldset>
    <hr />
    <br />
    <fieldset>
        <label for="loginSettingVaelg3">Vælg indhold til punkt 3....:</label>
        <select id="loginSettingVaelg3" ng-model="model.value.punkt3">
            <option value=""> </option>
            <option value="<i class=' fa fa-file-text-o signin-icon'></i> Se dine dokumenter">Se dine dokumenter</option>
            <option value="<i class=' fa fa-eye signin-icon'></i> Hold øje med forbrug">Hold øje med forbrug</option>
            <option value="<i class=' fa fa-envelope signin-icon'></i> Kontakt til os">Kontakt til os</option>
            <option value="<i class=' fa fa-suitcase signin-icon'></i> Hvis du skal flytte">Hvis du skal flytte</option>
            <option value="<i class=' flaticon-login flaticon-scale19'></i> Sammenlign forbrug">Sammenlign forbrug</option>
            <option value="<i class=' flaticon-login flaticon-losing'></i> Indtast aflæsninger">Indtast aflæsninger</option>
            <option value="<i class=' flaticon-login flaticon-small53'></i> Beregnet varmeregnskab">Beregnet varmeregnskab</option>
        </select>
    </fieldset>
    <hr />
    <br />
    <fieldset>
        <label for="loginSettingVaelg4">Vælg indhold til punkt 4....:</label>
        <select id="loginSettingVaelg4" ng-model="model.value.punkt4">
            <option value=""> </option>
            <option value="<i class=' fa fa-file-text-o signin-icon'></i> Se dine dokumenter">Se dine dokumenter</option>
            <option value="<i class=' fa fa-eye signin-icon'></i> Hold øje med forbrug">Hold øje med forbrug</option>
            <option value="<i class=' fa fa-envelope signin-icon'></i> Kontakt til os">Kontakt til os</option>
            <option value="<i class=' fa fa-suitcase signin-icon'></i> Hvis du skal flytte">Hvis du skal flytte</option>
            <option value="<i class=' flaticon-login flaticon-scale19'></i> Sammenlign forbrug">Sammenlign forbrug</option>
            <option value="<i class=' flaticon-login flaticon-losing'></i> Indtast aflæsninger">Indtast aflæsninger</option>
            <option value="<i class=' flaticon-login flaticon-small53'></i> Beregnet varmeregnskab">Beregnet varmeregnskab</option>
        </select>
    </fieldset>
    <hr />
    <br />
    <fieldset>
        <label for="loginSettingVaelg5">Vælg indhold til punkt 5....:</label>
        <select id="loginSettingVaelg5" ng-model="model.value.punkt5">
            <option value="" > </option>
            <option value="<i class=' fa fa-file-text-o signin-icon'></i> Se dine dokumenter">Se dine dokumenter</option>
            <option value="<i class=' fa fa-eye signin-icon'></i> Hold øje med forbrug">Hold øje med forbrug</option>
            <option value="<i class=' fa fa-envelope signin-icon'></i> Kontakt til os">Kontakt til os</option>
            <option value="<i class=' fa fa-suitcase signin-icon'></i> Hvis du skal flytte">Hvis du skal flytte</option>
            <option value="<i class=' flaticon-login flaticon-scale19'></i> Sammenlign forbrug">Sammenlign forbrug</option>
            <option value="<i class=' flaticon-login flaticon-losing'></i> Indtast aflæsninger">Indtast aflæsninger</option>
            <option value="<i class=' flaticon-login flaticon-small53'></i> Beregnet varmeregnskab">Beregnet varmeregnskab</option>
        </select>
    </fieldset>
    <hr />
    <br />
</div>