<div class="umb-editor umb-radiobuttons" ng-controller="Dff.MarginPickerBottom.Controller">
    <ul class="unstyled" ng-init="model.marginBottom=GetMarginValuesBottom()">
        <li ng-repeat="item in model.marginBottom.data">
            <label class="radio">
                <input type="radio" name="radiobuttons-{{model.alias}}"
                       value="{{item.Value}}"
                       ng-model="model.value" />
                {{item.Name}}
            </label>
        </li>
    </ul>
</div>