<div class="umb-editor umb-radiobuttons" ng-controller="Dff.PaddingPickerTop.Controller">
    <ul class="unstyled" ng-init="model.paddingTop=GetPaddingValuesTop()">
        <li ng-repeat="item in model.paddingTop.data">
            <label class="radio">
                <input type="radio" name="radiobuttons-{{model.alias}}"
                       value="{{item.Value}}"
                       ng-model="model.value" />
                {{item.Name}}
            </label>
        </li>
    </ul>
</div>  